<div class="card small carousel-item">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/public/Images/Nintendo.png">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{console}}<i
                class="material-icons right">more_vert</i></span>
        <p><a href="#">Check out this console!</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Nintendo<i class="material-icons right">close</i></span>
        <p>Nintendo Switch, Wii, Wii U, GameCube, Nintendo 64, NES, SNES, Game Boy, Game Boy Color, Game Boy Advance,
            Nintendo DS, Nintendo 3DS</p>
    </div>
</div>