<div class="card carousel-item console-card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./public/Images/Nintendo.png">
      </div>
      <div class="card-content console-background">
        <span class="card-title activator console-heading">Nintendo<i
            class="material-icons right">more_vert</i></span>
        <p><a class="console-body" href="#">Check out this console!</a></p>
      </div>
      <div class="card-reveal console-background">
        <span class="card-title console-heading ">Nintendo<i class="material-icons right">close</i></span>
        <p class="console-body">Nintendo Switch, Wii, Wii U, GameCube, Nintendo 64, NES, SNES, Game Boy, Game Boy Color, Game Boy Advance,
          Nintendo DS, Nintendo 3DS</p>
      </div>
    </div>
