<div class="gameBox center-align game-card">
      <div class="card center-align">
        <div class="card-image center-align black">
          <img src="/Images/supermario64,jpg">
          <span><a class="card-heading" href='game.html'>Super Mario 64</a></span><br>
        </div>
        <div class="card-content black">
          <i class="small material-icons pink-text lighten-5">whatshot</i>
          <i class="small material-icons pink-text lighten-5">whatshot</i>
          <i class="small material-icons pink-text lighten-5">whatshot</i>
          <i class="small material-icons pink-text lighten-5">whatshot</i>
          <i class="small material-icons pink-text lighten-5">whatshot</i>
        </div>
      </div>
    </div>
  </div>