<a href="/game/{{id}}">
    <div class="container allrev hide-on-large-only">
        <div class="row">
            <div>
                <div class="card p-5 center-align">
                    <div class="card-image">
                        <img class="gcImage" src="{{thumbnail}}">
                    </div>
                    <div class="card-title black pink-text lighten-5">{{title}}</div>
                    <div class="card-content black cyan-text accent-1 center-align">
                        <div class="card-content center-align">
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>