<a href="/game/{{id}}">
    <div class="col s12 m6 l3 allrev push-l1 hide-on-large-only">
        <div class="row gpCard">
            <div>
                <div class="card">
                    <div class="card-image">
                        <img src="/Images/220px-Shadow_of_Mordor_cover_art.jpeg">
                        <span class="card-title black pink-text lighten-5">{{name}}</span>
                    </div>
                    <div class="card-content black cyan-text accent-1 center-align">
                        <div class="card-content black center-align">
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                            <i class="small material-icons pink-text lighten-5">whatshot</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>