<div class="row">
    <div class="gRev center-align">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{this.review_title}}</span>
          <p>
            {{this.description}}
          </p>
        </div>
        <div>
          <i class="material-icons">whatshot</i>
        </div>
        <div class="card-action">
          <a href="#">{{dillhole69}}</a>
          <p>Sept. 18, 2021</p>
        </div>
        <div class="card-action">
          <p>Was this review helpful?</p>
          <button><i class="material-icons tiny">thumb_up</i></button>
          <button><i class="material-icons tiny">thumb_down</i></button>
        </div>
      </div>
    </div>
  </div>