<main>
    <!-- Game Card -->
  <h1>Super Mario 64</h1>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="./public/Images/supermario64.jpg">
          <span class="card-title">Nintendo 64</span>
          <span class="card-content">Released: June 23rd, 1996</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" href="#modal1"><i
              class="material-icons">thumbs_up_down</i></a>
        </div>
        <div class="card-content">
          <i class="material-icons">whatshot</i>
          <i class="material-icons">whatshot</i>
          <i class="material-icons">whatshot</i>
          <i class="material-icons">whatshot</i>
          <i class="material-icons">whatshot</i>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Fue or Nay?</h4>
      <p>Write a review for this game!</p>
    </div>
    <form action="#">
      <p>
      <h5>Which console?</h5>
      <div class="input-field col s12">
        <select multiple>
          <option value="1">Nintendo 64</option>
        </select>
      </div>
      <!--Flame rating-->
      <h5>How fuego was this game tho?</h5>
      <ul class="rate-area row">
        <a class="waves-effect waves-teal btn-flat"><i class="material-icons">whatshot</i></a>
        <a class="waves-effect waves-teal btn-flat"><i class="material-icons">whatshot</i></a>
        <a class="waves-effect waves-teal btn-flat"><i class="material-icons">whatshot</i></a>
        <a class="waves-effect waves-teal btn-flat"><i class="material-icons">whatshot</i></a>
        <a class="waves-effect waves-teal btn-flat"><i class="material-icons">whatshot</i></a>
      </ul>
      <!--Write review-->
      <h5>Tell us why!</h5>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
              <label for="textarea2">Write Your Review Here!</label>
            </div>
          </div>
        </form>
      </div>
      </p>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Submit Review</a>
      </div>
  </div>
  <div>
      {{!-- Review Section --}}
    <h3>User Reviews</h3>
    <a class="row" href="#">See all 2 reviews<i class="material-icons">chevron_right</i></a>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">This Game is the Bob-omb</span>
          <p>This game is my childhood. Anyone who says they don't like this game is either drunk, confused, or Satan.
          </p>
        </div>
        <div>
          <i class="material-icons">whatshot</i>
          <i class="material-icons">whatshot</i>
          <i class="material-icons">whatshot</i>
          <i class="material-icons">whatshot</i>
          <i class="material-icons">whatshot</i>
        </div>
        <div class="card-action">
          <a href="#">ScottyG393</a><p>Sept. 18, 2021</p>
        </div>
        <div class="card-action"><p>Was this review helpful?</p>
          <button><i class="material-icons tiny">thumb_up</i></button>
          <button><i class="material-icons tiny">thumb_down</i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Thwomp Thwomp</span>
          <p>This game truly sucks. The graphics are dated and kids games are boring. 
          </p>
        </div>
        <div>
          <i class="material-icons">whatshot</i>
        </div>
        <div class="card-action">
          <a href="#">dillhole69</a><p>Sept. 18, 2021</p>
        </div>
        <div class="card-action"><p>Was this review helpful?</p>
          <button><i class="material-icons tiny">thumb_up</i></button>
          <button><i class="material-icons tiny">thumb_down</i></button>
        </div>
      </div>
    </div>
  </div>  
</main>