  <main>
  <!-- Hottest/Trending Games -->
  <h3>What's Fuego Today, Bro?</h3>
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div><br>
 {{!--  Console selection --}}
  <h4>Consoles</h4>
  <div class="carousel">
    <div class="card small carousel-item">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./public/Images/Nintendo.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Nintendo<i
            class="material-icons right">more_vert</i></span>
        <p><a href="#">Check out this console!</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Nintendo<i class="material-icons right">close</i></span>
        <p>Nintendo Switch, Wii, Wii U, GameCube, Nintendo 64, NES, SNES, Game Boy, Game Boy Color, Game Boy Advance,
          Nintendo DS, Nintendo 3DS</p>
      </div>
    </div>
    <div class="card small carousel-item">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./public/Images/PS.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">PlayStation<i
            class="material-icons right">more_vert</i></span>
        <p><a href="#">Check out this console!</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Playstation<i class="material-icons right">close</i></span>
        <p>PlayStation, PlayStation 2, PS3, PS4, PS5, PSP</p>
      </div>
    </div>
    <div class="card small carousel-item">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./public/Images/Xbox.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Xbox<i
            class="material-icons right">more_vert</i></span>
        <p><a href="#">Check out this console!</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Xbox<i class="material-icons right">close</i></span>
        <p>Xbox, Xbox 360, Xbox One (X/S), Xbox Series X/S</p>
      </div>
    </div>
    <div class="card small carousel-item">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./public/Images/computer.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Computer<i
            class="material-icons right">more_vert</i></span>
        <p><a href="#">Check out this console!</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Computer<i class="material-icons right">close</i></span>
        <p>Mac & PC</p>
      </div>
    </div>
  </div><br>
  {{!-- Top 5 & Bottom 5 --}}
  <h5>Fuegoats</h5>
  <div class="collection">
    <a href="game.html" class="collection-item">Super Mario 64</a>
    <a href="game.html" class="collection-item">Skyrim</a>
    <a href="game.html" class="collection-item">The Last of Us</a>
    <a href="game.html" class="collection-item">Halo 2</a>
    <a href="game.html" class="collection-item">Snake</a>
  </div>
  <h5>Fuegones</h5>
  <div class="collection">
    <a href="game.html" class="collection-item">Sonic Heroes</a>
    <a href="game.html" class="collection-item">Sonic Goes to Camp</a>
    <a href="game.html" class="collection-item">Sonic: the Restaurant</a>
    <a href="game.html" class="collection-item">Sonic Adventure Poo</a>
    <a href="game.html" class="collection-item">Sonic and the Secret Suc</a>
  </div>
  </main>