<!-- Hottest/Trending Games -->
<div class="fuego-today">
  <h3 class="fuego-text">What's</h3>
  <h3 class="fuego-pink"> Fuego</h3>
  <h3 class="fuego-text"> Today, Bro?</h3>
</div>
<div class="member hide-on-small-only">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="homepageSearch" type="text">
          <label class="active" for="homepageSearch">Search the Fuegobase for your favorite game</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn pink pulse fuego-label" id="mainSearch" type="submit">Search</button>
    </form>
  </div>
</div>
<script src="/js/dist/searchFunction.min.js"></script>