  <main>
  <!-- Hottest/Trending Games -->
  <div class="fuego-today"><h3 class="fuego-text">What's</h3><h3 class="fuego-pink"> Fuego</h3><h3 class="fuego-text"> Today, Bro?</h3></div>
  <div class="carousel carousel-slider center-carousel center">
    <a class="carousel-item center" href="#one!"><img src="./public/Images/hotgames/warzone.jpg"></a>
    <a class="carousel-item center" href="#two!"><img src="./public/Images/hotgames/minecraft.jpg"></a>
    <a class="carousel-item center" href="#three!"><img src="./public/Images/hotgames/animalcrossing.jpg"></a>
    <a class="carousel-item center" href="#four!"><img src="./public/Images/hotgames/gtav.jpg"></a>
    <a class="carousel-item center" href="#five!"><img src="./public/Images/hotgames/lol.jpg"></a>
  </div><br>
 {{!--  Console selection --}}
  <h4 class="consoles">Consoles</h4>
  <div class="carousel center-carousel">
    {{#each console}}
    {{> home-console}}
    {{/each}}
  </div><br>
  {{!-- Top 5 & Bottom 5 --}}
   <h5 class="consoles fuegoats">Fuegoats</h5>
  <div class="collection game-list">
    <a href="game.html" class="collection-item center game-listed">Super Mario 64</a>
    <a href="game.html" class="collection-item center game-listed">Skyrim</a>
    <a href="game.html" class="collection-item center game-listed">The Last of Us</a>
    <a href="game.html" class="collection-item center game-listed">Halo 2</a>
    <a href="game.html" class="collection-item center game-listed">Snake</a>
  </div>
  <h5 class="consoles fuegones">Fuegones</h5>
  <div class="collection game-list">
    <a href="game.html" class="collection-item center game-listed">Sonic Heroes</a>
    <a href="game.html" class="collection-item center game-listed">Sonic Goes to Camp</a>
    <a href="game.html" class="collection-item center game-listed">Sonic: the Restaurant</a>
    <a href="game.html" class="collection-item center game-listed">Sonic Adventure Poo</a>
    <a href="game.html" class="collection-item center game-listed">Sonic and the Secret Suc</a>
  </div>
  </main>


  
