<main>

  <h2 class="text">Sign-up Here!</h2>

  <div class="firstTime z-depth-5 blue-text lighten-3">
    <div class="row">
      <form class="col s12">
        <div class="row blue-text lighten-3">
          <div class="input-field col s6 blue-text lighten-3">
            <input id="first_name" type="text">
            <label class="active" for="first_name">First Name</label>
          </div>
          <div class="input-field col s6 blue-text lighten-3">
            <input id="last_name" type="text">
            <label class="active" for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 blue-text lighten-3">
            <input id="email" type="email">
            <label class="active" for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 blue-text lighten-3">
            <input id="usernameCreate" type="text">
            <label class="active" for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 blue-text lighten-3">
            <input id="passwordCreate" type="password">
            <label class="active" for="password">Password</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn" id="create" type="submit">Create Account</button>
      </form>
    </div>
  </div>

  <h2 class="text">Already a member? Sign in!</h2>
  <div class="member">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="usernameLogin" type="text">
            <label class="active" for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="passwordLogin" type="password">
            <label class="active" for="password">Password</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn" id="login" type="submit">Login</button>
      </form>
    </div>
  </div>
</main>

<script src="/js/login.js"></script>