<main>

  <h2 class="text">Sign-up Here!</h2>
  
  <div class="firstTime">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="usernameCreate" type="text">
            <label for="usernameCreate">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="passwordCreate" type="password">
            <label for="passwordCreate">Password</label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <h2 class="text">Already a member? Sign in!</h2>
  <div class="member">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="usernameLogin" type="text">
            <label for="usernameLogin">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="passwordLogin" type="password">
            <label for="passwordLogin">Password</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn" id="login" type="submit">Login</button>
      </form>
    </div>
  </div>
</main>

<script src="/public/js/login.js"></script>