<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="./materialize/css/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>
    <div class="nav-wrapper nav-extended">
      <a href="#!" class="brand-logo">Fue or Nay</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="input_text" type="text" data-length="20">
                <label class="right" for="input_text"><i class="material-icons prefix">search</i></label>
              </div>
            </div>
            </form></li>
        <li><a href="sass.html">Profile</a></li>
        <li><a href="badges.html">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="index.html">Home</a></li>
    <li><a href="sass.html">Profile</a></li>
    <li><a href="badges.html">Logout</a></li>
    <li><div class="divider"></div></li>
<li><a class="subheader">Consoles</a></li>
<li><a href="sass.html">Nintendo</a></li>
<li><a href="badges.html">PlayStation</a></li>
<li><a href="badges.html">Xbox</a></li>
<li><a href="badges.html">Computer</a></li>
  </ul><br>
{{body}}
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Fue or Nay?</h5>
          <p class="grey-text text-lighten-4">Find and rate the world's hottest games</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Consoles</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Nintendo</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">PlayStation</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Xbox</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Computer</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Fuego Fiesta
      <a class="grey-text text-lighten-4 right" href="#!">About</a>
      </div>
    </div>
  </footer>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="server.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="./materialize/js/materialize.js"></script>
</body>
</html>