<h2 class="profUN">{{user.username}}</h2>
    <main class="prof">
        <div class="profPic">
            <img class="circle responsive-img" src="./public/Images/ntnqruv8nhq1avryljcd.jpeg">
        </div>

        <div class="profInfo">
            <div class="info">
                <p class="revTitle">Your reviewer title</p>
                <p>Some shit about you</p>
            </div>
            <h4 class="fueScore">Your Fue Score:</h4>
            <div class="badges">
                <i class="medium material-icons pink-text lighten-5">whatshot</i>
                <i class="medium material-icons pink-text lighten-2">whatshot</i>
                <i class="medium material-icons pink-text lighten-2">whatshot</i>
                <i class="medium material-icons pink-text lighten-2">whatshot</i>
                <i class="medium material-icons pink-text lighten-2">whatshot</i>
            </div>
        </div>


    </main>
    <br>
    <h3 class="rtdGames">Your Rated Games</h3>
    <div class="selHold">
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="./public/Images/71ZlDsoz7BL._SL1064_.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="./public/Images/unnamed.png"></a>
            <a class="carousel-item" href="#three!"><img src="./public/Images/220px-Shadow_of_Mordor_cover_art.jpeg"></a>
            <a class="carousel-item" href="#four!"><img src="./public/Images/220px-Final_Fantasy_8_ntsc-front.jpeg"></a>
            <a class="carousel-item" href="#five!"><img src="./public/Images/cover-r4x3w1000-5b72dba20ebf0-world-of-warcraft-battle-for-azeroth-key-art-2-orc-v-human.jpeg"></a>
        </div>
    </div>

    <h3 class="rtdGames">Your Top Reviews:</h3>
    <div class="yoRev">
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active blue"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
        <div class="rev">
            <h5 class="revGme">"Reviewed Game"</h5>
            <p class="revcontent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>




    <script src="./materialize/js/materialize.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>