<h1 class="hide-on-small-only Un">{{name}}</h1>
    <h5 class="hide-on-large-only Un">{{name}}</h5>

    <div class="row gpCard profcard">
        <div class="col s12 m6 l6 push-l3 hide-on-large-only">
            <div class="card black">
                <div class="card-image">
                    <img src="public/Images/avatar-placeholder.png">
                </div>
                <div class="card-content center-align black">
                    <p class="center-align cyan-text accent-1">
                        Account creation date:
                    </p>
                    <p class="center-align cyan-text accent-1">
                        time since creation date:
                    </p>
                    <p class="center-align cyan-text accent-1">
                        review count:
                    </p>
                    <p class="center-align cyan-text accent-1">
                        feedback count:
                    </p>
                </div>
            </div>
        </div>
    </div>

        <div class="gameBox game-card col s12 m6 l6 push-l3 hide-on-small-only">
        <div class="card center-align">
            <div class="card-image center-align black">
                <img src="public/Images/avatar-placeholder.png">
            </div>
            <div class="card-content center-align black">
                <p class="center-align cyan-text accent-1">
                    Account creation date:
                </p>
                <p class="center-align cyan-text accent-1">
                    time since creation date:
                </p>
                <p class="center-align cyan-text accent-1">
                    review count:
                </p>
                <p class="center-align cyan-text accent-1">
                    feedback count:
                </p>
            </div>
        </div>
    </div>


    <br>
    <h3 class="rtdGames">Your Rated Games</h3>
    <div class="selHold">
        <div class="carousel">
           {{#each user.games}}
           {{> user-games}}
           {{/each}}
        </div>
    </div>

     <h3 class="gameTitle">Your Most Recent Review:</h3>
    <div class="section">
        <div class="gRev center-align">
            <div class="card black">
                <div class="card-content">
                    <span class="gHead card-title">It tingled my Forehead</span>
                    <p>No really my forehead fell off when I played this game and I had to go and buy a new prostethic.
                    </p>
                </div>
                <div class="revFS">
                    <i class="material-icons pink-text lighten-5">whatshot</i>
                    <i class="material-icons pink-text lighten-5">whatshot</i>
                    <i class="material-icons pink-text lighten-5">whatshot</i>
                </div>
                <div class="card-action">
                    <a class="unRev pink-text lighten-5" href="#">{{user.username}}</a>
                    <p>Sept. 11, 2021</p>
                    <p>Review feedback score?:</p>
                </div>
            </div>
        </div>
    </div>



    