<h1 class="gtit hide-on-small-only fuego-text">Search Results for: <span class="fuego-pink">{{searchParams}}</span></h1>

<div class="row">
    {{#each results}}
    {{> search-results-large}}
    {{/each}}

</div>

<div class="row">
    {{#each results}}
    {{> search-results-small}}
    {{/each}}
</div>