<h1 class="gtit hide-on-small-only">Search Results for: {{searchParams}}</h1>

<div class="row">
    {{#each results}}
    {{> search-results-large}}
    {{/each}}

</div>

<div class="row">
    {{#each results}}
    {{> search-results-large}}
    {{/each}}
</div>