body{
    background-image: url(https://wallpapercave.com/wp/wp6473374.jpg);
}

nav{
    background-color: #270B64;
}
/* CSS for login */

.firstTime{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOdli1FCaS-5etE8kl7XODltCDAERiobkCkaAaF9HguwwrhQSbQpu2ooFPruW8egeHW5Y&usqp=CAU);
    margin: auto;
    border: 5px solid cyan;
    width: 50%;
}

.member{  
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOdli1FCaS-5etE8kl7XODltCDAERiobkCkaAaF9HguwwrhQSbQpu2ooFPruW8egeHW5Y&usqp=CAU);
    margin: auto;
    border: 5px solid cyan;
    width: 50%;
}


.text{
    text-align: center;
    text-decoration: underline;
    font-size: 1.9rem;
    color:cyan;
}



/* CSS for Profile */

.prof{
    display: flex;
    justify-content: space-evenly;
}

.pic{
    background-color: darkblue;
    height: 450px;
    width: 350px;
    color: white;
    margin: auto;
    margin-top: 60px;
}

img{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.yoStuff{
    display: flex;
    justify-content: space-evenly;
    background-color: darkcyan;
    height: 450px;
    width: 700px;
    margin: auto;
    margin-top: 60px;
}

.revScore{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    margin: 15px;
}

.badges{
    height: 400px;
    width: 350px;
    background-color: darkgray;
    margin: 15px;
}

.yoRev{
    height: 500px;
    width: 80%;
    background-color: darkslateblue;
    margin: auto;
    margin-top: 80px;
}