body{
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/31/33/aNuFhe.jpg);
    background-attachment:fixed;

}
/* CSS for Navbar */
nav{
    background-color: #270B64;
    height: 100px;
}
.nav-style {
  font-family: 'Iceland', 'cursive';
  font-size: 2em;
  text-decoration: underline;
    color:#A8D3E7;
    text-shadow: #E252B9 .5px 1px;
}
.sidenav-style {
  background-color: #F8F8F8ff;
  font-family: 'Orbitron', sans-serif;
  font-size:xx-large;
  text-decoration: underline;
    color:#A8D3E7;
    text-shadow: #E252B9 .5px 1px;
    text-align: center;
    margin: auto;
}
/* CSS for Footer */
footer{
  margin-top: 4em;
}
.footer-color {
  background-color: #270B64;
}
.footer-heading {
  font-family: 'Orbitron', sans-serif;
  font-size:x-large;
    color:#A8D3E7;
    text-shadow: #E252B9 .5px 1px;
}

.footer-body {
  font-family: 'Iceland', 'cursive';
  font-size: 2em;
  text-decoration: underline;
    color:#A8D3E7;
    text-shadow: #E252B9 .5px 1px;
}
.footer-logo {
  height: 100px;
  width: auto;
}
/* CSS for Home */
.fuego-today {
  text-align: center;
  padding: 6em;
}
.fuego-text {
  font-family: 'Orbitron', sans-serif;
  font-size:xx-large;
    color:#F8F8F8ff;
    text-shadow: #31749Eff 2px 3px;
    display:inline;
    text-align: center;
}
.fuego-pink {
  font-family: 'Orbitron', sans-serif;
  font-size:xx-large;
    color:#E252B9;
    text-shadow: #31749Eff 2px 3px;
    display:inline;
}
.consoles {
  font-family: 'Orbitron', sans-serif;
  font-size:xx-large;
    color:#F8F8F8ff;
    text-shadow: #31749Eff 2px 3px;
    text-align: center;
    padding-top: 3em;
}
.center-carousel {
  width: 100%;
  margin: 75px auto;
}
.console-card {
  margin: auto;
  position: relative;
  
}
.console-background {
  background-color: none;
  background-color: #0B142E;
}
.console-heading {
color:#F8F8F8ff;
font-family: 'Orbitron', sans-serif;
}
.console-body {
  color: #FE97EB;
  text-decoration: none;
  font-family: 'Iceland', 'cursive';
  font-size: 2em;
}
.fuegoats {
  font-family: 'Orbitron', sans-serif;
  font-size:xx-large;
    color:#FE97EB;
    text-shadow: #E252B9 2px 3px;
    text-align: center;
    padding-top: 3em;
}
.fuegones {
  font-family: 'Orbitron', sans-serif;
  font-size:xx-large;
    color:#30c2ee;
    text-shadow: rgb(65, 67, 202) 2px 3px;
    text-align: center;
    padding-top: 3em;
}
.game-list {
  border: none;
  margin: auto;
  width: 50%;
  text-decoration: underline;
  font-family: 'Iceland', 'cursive';
  font-size: 2em;
  text-shadow: #E252B9 .5px 1px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
.game-listed {
  background-color: #F8F8F8ff;
}
/* CSS for login */

.firstTime{
    background-color: black;
    margin: auto;
    border: 4px solid #A8D3E7;
    width: 50%;
    color: #A8D3E7;
    padding-top: 20px;
    font-family: 'Iceland', cursive;
}

.member{  
    background-color: black;
    margin: auto;
    border: 4px solid #A8D3E7;
    width: 50%;
    padding-top: 20px;
    font-family: 'Iceland', cursive;
}


.text{
    text-align: center;
    text-decoration: underline;
    color:#A8D3E7;
    font-family: 'Orbitron', sans-serif;
    text-shadow: #E252B9 2px 3px;
}

  .input-field label {
    color: #A8D3E7;
  }

  .input-field input {
    color: #A8D3E7;
  }

  .input-field input[type=text]:focus + label {
    color: #A8D3E7;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid #E252B9;
    box-shadow: 0 1px 0 0 blue;
  }

  .input-field input[type=text].valid {
    border-bottom: 1px solid #A8D3E7;
    box-shadow: 0 1px 0 0 blue;
  }
 
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #A8D3E7;
    box-shadow: 0 1px 0 0 #000;
  }

  .input-field .prefix.active {
    color: #A8D3E7;
  }



/* CSS for Profile */

.profUN{
  text-align: center;
  text-shadow: #E252B9 2px 3px;
  color: aqua;
  font-family: 'Orbitron', sans-serif;
}

.prof{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 730px;
    width: 740px;
    color: white;
    margin: auto;
    border: 5px solid #A8D3E7;
    margin-top: 60px;
    margin-bottom: 40px;
}

.profPic{    
    margin: auto;
    margin-top: 20px;
}

.profInfo{
  display: flex;
  flex-direction: column;
}

.info{
    height: 200px;
    width: 600px;
    background-color: rgb(192, 24, 192);
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
    border: solid 2px blue;
    font-family: 'Iceland', cursive;
    font-size: 1.6rem;
    color: aqua;
}

.revTitle{
  font-size: 2.2rem;
}

.fueScore{
  text-align: center;
  text-shadow: #E252B9 2px 3px;
  color: aqua;
  font-family: 'Orbitron', sans-serif;
  margin-top: 11px;
  
}

.badges{
    display: flex;
    background-color: rgb(19, 131, 223);
    height: 70px;
    width: 350px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    border: #A8D3E7 solid 2px;
}

.rtdGames{
  text-align: center;
  text-shadow: aqua 2px 3px;
  color: rgb(248, 62, 155);
  font-family: 'Orbitron', sans-serif;
}

.userRevs{
  text-align: center;
  text-shadow: aqua 2px 3px;
  color: #E252B9;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 10px;
}

.selHold{
    background-color: black;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border: 5px solid #A8D3E7;
}

.yoRev{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 80%;
    background-color: black;
    margin: auto;
    margin-top: 50px;
    border: 5px solid #A8D3E7;
    color: #A8D3E7;
    margin-bottom: 30px;
    text-align: center;
}


.rev{
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    height: 300px;
    width: 80%;
    background-color: deeppink;
    text-align: center;
    border: aquamarine 2px solid;
    font-family: 'Iceland', cursive;
    font-size: 1.4rem;
    
}

.logo {
      height: 90px;
      border: none;
}
@media screen and (max-width: 600px) {
  .logo {
    height: 55px;
  }
}

/* CSS for game page */

.gameTitle{
  color: aqua;
  font-family: 'Orbitron', sans-serif;
  text-shadow: #E252B9 2px 3px;
  text-decoration: underline;
  text-align: center;
}


.game{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 900px;
  background-color: black;
}

.gameBox{
  width: 40%;
  height: 50%;
  margin: auto;
  text-align: center;
}
.game-card {
  width: 450px;
}
.card-heading {
  color:#F8F8F8ff;
  text-align: center;
  text-decoration: underline;
  text-shadow: #E252B9 .5px 1px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
}
.release-date {
  color:#30c2ee;
  text-align: center;
  text-shadow: #270B64 .5px 1px;
  font-family: 'Iceland', 'cursive';
  font-size: 1em;
}
.uRev{
  text-align: center;
  text-shadow: aqua 2px 3px;
  color: #E252B9;
  font-family: 'Orbitron', sans-serif;
  text-decoration: underline;
}

.card-title{
  font-family: 'Orbitron', sans-serif;
}

.gRev{
  margin: 50px;
  border: aqua 2px solid;
  background: black;
  color: cyan;
}

.gHead{
  color: hotpink;
}

.unRev{
  font-family: 'Iceland', cursive;
  font-size: 1.8rem;
  color: aqua;
}

.btnBox{
  display: flex;
}

.revBtn{
  justify-content: center;
  margin: auto;
  margin-bottom: 90px;
}

/* CSS All Reviews */
/* 
.pg{
  display: flex;
  margin: auto;
  color: hotpink;
} */

.pag{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: hotpink;
  margin: 50px;
}
.modal-colors {
  background-color: #270B64;
  color: #F8F8F8ff;
}
.modal-heading {
  font-size: 2.75em;
  text-shadow: #E252B9 1px 2px;
  font-family: 'Orbitron', sans-serif;
}
.modal-subheading {
  font-size: 1.5em;
  text-shadow: #30c2ee .5px 1px;
  font-family: 'Iceland', 'cursive';
}
.modal-question {
  color:#F8F8F8ff;
  font-size: 2em;
  text-shadow: #30c2ee .5px 1px;
  font-family: 'Orbitron', sans-serif;
  position: relative;
  left: 25px;
}
.modal-input-field {
  position: relative;
  left: 25px;
}
.input-text {
  font-family: 'Orbitron', sans-serif;
  color:#F8F8F8ff;
  letter-spacing: .05em;
}
.modal-submit {
  border-radius: 0 0 2px 2px;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    text-align: right;
  background-color:#432a44;
}
.submit-review {
  font-family: 'Iceland', 'cursive';
  font-size: 1.5em;
  color: #F8F8F8ff;
  text-shadow:#E252B9 .5px 1px;
}
.flame {
  color: rgb(255, 8, 132);
}
.flame-rate {
  position: relative;
  left: 25px;
}

/* CSS for the avatar page */

.avatar{
  background-color: black;
  color: aqua;
  border: hotpink solid 2px;
  margin: 30px;
  height: 300px;
  display: flex;
}

.avapic{
  align-items: center;
  justify-content: center;
  margin: auto;
}

.avasel{
  text-align: center;
  text-shadow: aqua 2px 3px;
  color: #E252B9;
  font-family: 'Orbitron', sans-serif;
  text-decoration: underline;
}

.gHead{
  color: hotpink;
}

.unRev{
  font-family: 'Iceland', cursive;
  font-size: 1.8rem;
  color: aqua;
}

.btnBox{
  display: flex;
}

.revBtn{
  justify-content: center;
  margin: auto;
  margin-bottom: 90px;
}

/* CSS All Reviews */
/* 
.pg{
  display: flex;
  margin: auto;
  color: hotpink;
} */

.pag{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: hotpink;
  margin: 50px;
}

