body{
    background-image: url(https://wallpaperaccess.com/full/1223962.jpg);
}


/* CSS for login */

.firstTime{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOdli1FCaS-5etE8kl7XODltCDAERiobkCkaAaF9HguwwrhQSbQpu2ooFPruW8egeHW5Y&usqp=CAU);
    margin: auto;
    border: 5px solid cyan;
    width: 50%;
}

.member{  
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOdli1FCaS-5etE8kl7XODltCDAERiobkCkaAaF9HguwwrhQSbQpu2ooFPruW8egeHW5Y&usqp=CAU);
    margin: auto;
    border: 5px solid cyan;
    width: 50%;
}


.text{
    text-align: center;
    text-decoration: underline;
    font-size: 1.9rem;
    color:cyan;
}



/* CSS for Profile */

/* .prof{
    display: flex;
    justify-content: space-evenly;
}

.pic{
    background-color: black;
    height: 575px;
    width: 350px;
    color: white;
    margin: auto;
    border: 5px solid cyan;
    margin-top: 60px;
    margin-bottom: 40px;
}

.info{
    border: 5px solid cyan;
    height: 30%;
    width:375px;
}

.profPic{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;
} */

.prof{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 700px;
    width: 730px;
    color: white;
    margin: auto;
    border: 5px solid cyan;
    margin-top: 60px;
    margin-bottom: 40px;
}

.profPic{    
    margin: auto;
}

.info{
    height: 200px;
    width: 600px;
    background-color: darkorchid;
    margin:auto;
    margin-bottom: 20px;
    text-align: center;
}

.badges{
    background-color: darkslateblue;
    height: 70px;
    width: 300px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 40px;
}

.selHold{
    background-color: black;
    width: 80%;
    margin: auto;
    border: 5px solid cyan;
}

.yoRev{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 80%;
    background-color: black;
    margin: auto;
    margin-top: 80px;
    border: 5px solid cyan;
    color: cyan;
    margin-bottom: 30px;
    text-align: center;
}


.rev{
    margin: auto;
    justify-content: center;
    height: 300px;
    width: 80%;
    background-color: deeppink;
    text-align: center;
}
